:root {
  font: 16px / 1 sans-serif;

  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
header {
  padding-bottom: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.pic-1  {
width: 800px;
}

.pic-2 {
width: 800px;
}
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding : 2rem;
}
.pic-multiple {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  width: 500px;
  height: auto;
  border : 1px solid black;
  padding : 2rem;
  margin: 2rem;

}
